@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body,
html {
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    color: #c8d0ca;
    text-transform: capitalize;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-weight: 400;
    line-height: 1.5em;
}

p {
    font-size: 15px;
    margin: 12px 0 0;
    line-height: 24px;
}

a {
    color: #333;
    font-weight: 400;
}

button:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0px;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: rgb(138, 140, 138);
    text-decoration: none;
    transition: all 0.3s;
}

li .a {
    color: #8ac626;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */

#sidebar {
    position: fixed;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
    overflow: auto;
    transition: all 0.3s;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#sidebar::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}

#sidebar:hover::-webkit-scrollbar {
    display: block;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}

#sidebar .sidebar-header {
    padding: 17px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.sidebar-header h3 {
    color: rgb(17, 16, 16);
    font-size: 17px;
    margin: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;
}

nav ul {
    height: 100%;
    list-style: none;
}

.sidebar-header h3 img {
    width: 60px;
    margin-right: 10px;
}

#sidebar ul li {
    padding: 2px 7px;
}

#sidebar ul li.active>a {
    color: rgb(51, 51, 51);
    background-color: none;
}

#sidebar ul li a:hover {
    color: rgb(7, 7, 7);
    background-color: rgba(233, 231, 231, 0.98);
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 20px;
}

#sidebar ul li.drodown {
    position: sticky;
}

#sidebar ul.components {
    padding: 17px 0;
}

#sidebar ul li a {
    padding: 10px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

#sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
    color: #636764;
    margin-left: 10px;
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar .ads.wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}

.btn1-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    background: #8ac626;
    transition: all .3s ease;
    font-weight: 600;
    margin-bottom: 12px;
    top: 150px;
}

.btn-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    background: #ff1f1f;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
    top: 150px;
}

/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */

/*=======================================================
   main-content navbar-design start
   ===============================================*/

#content {
    position: relative;
    transition: all 0.3s;
    background-color: transparent;
}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;
    margin-top: 20px;
}

.main-content {
    padding: 20px 20px 20px 160px;
    position: relative;
    width: 100%;
}

.navbar {
    background-color: transparent;
    color: #FFFFFF;
}

.navbar-brand {
    color: #e62124;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar button span {
    color: rgb(161, 160, 160);
}

#sidebarCollapse {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-right: 20px;
    border: none;
    color: #8ac626;
    background-color: transparent;
    position: relative;
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}

.navbar-nav>li.active {
    color: #FFFFFF;
}

.navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar .notification {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #8ac626;
    min-width: 15px;
    text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}

.navbar-nav>li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    min-height: 500px;
}

.dropdown-menu li>a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 150ms linear;
    color: #1a1a1b;
}

.dropdown-menu li :hover {
    color: #8ac626;
}

.navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(133, 130, 130, 0.08);
}

.navbar-nav li a {
    position: relative;
    display: block;
    padding: 10px 5px !important;
    justify-content: center;
}

.form-group input {
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 10px;
    height: 100%;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    outline: none;
}

.form-group input:focus {
    color: rgba(54, 53, 53, 0.187);
}

.form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #444;
    left: 585px;
    top: 30px;
}



/*======================================================= 
   main-content navbar-design end
   ===============================================*/

.container {
    display: inline-block;
    position: relative;
    max-width: 875px;
    width: 1000px;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 30px 30px 20px 32px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: -80px;
    /*margin-left: 23px;*/
}

.container header {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin-bottom: 25px;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100px;
    height: 3px;
    border-radius: 8px;
    background-color: #8ac626;
}

.container form {
    position: relative;
    margin-top: 5px;
    min-height: 490px;
    background: #f0f0f0;
}

.container form .details {
    margin-top: 30px;
}

.container form .details .ID {
    margin-top: 10px;
}

.container form .flex {
    display: flex;
    gap: 8px;
}

.container form .flex2 {
    display: flex;
    gap: 8px;
}

.container form .flex3 {
    display: flex;
    gap: 8px;
}

.container form .flex4 {
    display: flex;
    gap: 8px;
}

.container form .flex5 {
    display: flex;
    gap: 8px;
}

.container form .title {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500px;
    margin: 6px 0;
    color: #333;
}

.container .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-field1 {
    width: 400px;
    padding: 0px 0px 0px 0px;
}

.input-field2 {
    width: 400px;
    padding: 0px 0px 0px 0px;
}

.input-fieldName {
    width: 800px;
    padding: 0px 0px 0px 0px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

.header {
    margin-left: 250px;
}

.conduct_subheading {
    color: #444;
    font-size: 16px;
}

.conduct_description {
    color: #444;
    font-size: 14px;
}

form .fields .input-field {
    display: flex;
    width: calc(50% / 1 - 5px);
    flex-direction: column;
}

form .fields .input-fieldSubName {
    display: inline-block;
    width: calc(100% / 3 - 30px);
    flex-direction: column;
    border-radius: 40px;
    row-gap: 20px;
}

form .fields .input-fieldSubName2 {
    display: inline-block;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    border-radius: 40px;
    row-gap: 5px;

}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input {
    padding: 0 5px;
    height: 38px;
    margin: 8px 0;
    border-radius: 8px;
    border-bottom: none;
    width: 400px;
    background: #fff;
    border: none;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    color: #444;
}

.input-field input:is(:focus, :valid) {
    outline: none;
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.details-ID form .fields .input-field {
    display: flex;
    width: calc(50% / 3 - 15px);
    flex-direction: column;
}

.wrapper1 {
    width: 210px;
    padding: 5px 25px 1px 0px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.wrapper2 {
    width: 180px;
    padding: 0px 20px 8px 0px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.wrapper2 .form-control {
    margin-right: 9px;
}

.wrapper3 {
    width: 180px;
    padding: 15px 5px 20px 5px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.form-control {
    display: flex;
    height: 38px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.127);
    font-size: 14px;
    flex-wrap: wrap;
    
}

.input-fieldName label{
    margin-top: 19px;
}


.ConductAssessment .form-control {
    border: none;
}

/* Emergency Page */

.emergency .form-control {
    height: 35px;
    border: none;
}

.emergency .input-fieldName {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.emergency .icon {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 25px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: center;
}

/* Emergency End */

.form-control:focus {
    background-color: rgb(255, 255, 255);
    border: 0px solid rgba(199, 200, 202, 0.47);
}

.wrapper1:focus {
    background-color: #fff;
    border: 2px solid rgb(163, 163, 164);
}

.wrapper label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.btnb {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 5px;
    border-color: #333;
    border-radius: 8px;
    background-color: #e62124;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 280px;
}

.btnn {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 15px;
    border-color: #333;
    border-radius: 8px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 20px;
}

.btnn2 {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #333;
    border-radius: 10px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 300px;
}

.btnn3 {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 250px;
    border-color: #333;
    border-radius: 10px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 350px;
}

.btnn3a {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 250px;
    border-color: #333;
    border-radius: 10px;
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 350px;
}

.container p,
h4,
h5,
h6 {
    color: #444;
}

/* ConductAssessment Pages */

.ConductAssessment .input-fieldName {
    box-shadow: none;
    padding: 10px 10px;
}

.ConductAssessment .top-form select {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    height: 38px;
    font-size: 14px;
    border-radius: 8px;
}

.ConductAssessment .Validate {
    width: 100%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
    padding: 15px;
}

.ConductAssessment .Validate input {
    width: 60%;
    height: 25px;
    border: 1px solid #8ac626;
    margin-left: 80px;
    font-size: 14px;
}

.ConductAssessment .Validate label {
    width: 10%;
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
    text-align: right;
}

.ConductAssessment form {
    width: 100%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

.ConductAssessment .top-form .input-fieldName {
    height: 50px;
}

.ConductAssessment .top-form select {
    width: 70%;
    margin-left: 240px;
    margin-top: 5px;
}

.ConductAssessment .top-form label {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12.5px;
}

/* Conduct Assessment 3 to 5 form layout */
.ConductAssessment .top-form1 .input-fieldName {
    height: 50px;
}

.ConductAssessment .top-form1 label {
    width: 70%;
    text-align: left;
    margin-left: 150px;
    position: absolute;
    font-size: 12.5px;
}

.ConductAssessment .top-form1 select,
.ConductAssessment .top-form1 input {
    width: 20%;
    position: absolute;
    margin-left: 500px;
    margin-top: 5px;
    height: 40px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

/* Conduct Assessment 3 */

.CA3 p {
    margin: 15px 0;
    font-size: 14px;
}

.CA3 .mid-1 .input-fieldName {
    height: 50px;
    position: relative;
}

.CA3 .mid-1 label {
    width: 25%;
    text-align: left;
    position: absolute;
    margin-top: 10px;
}

.CA3 .mid-1 select {
    width: 25%;
    margin-left: 200px;
    height: 38px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    font-size: 14px;
}

.CA3 .mid-2 label {
    width: 25%;
    text-align: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 410px;
}

.CA3 .mid-2 select {
    width: 25%;
    margin-left: 600px;
    height: 38px;
    margin-top: 10px;
    position: absolute;
}

.CA3 .mid-input {
    margin-top: 15px;
}

.CA3 .mid-input label {
    margin-left: 410px;
    width: 25%;
}

.CA3 .mid-input input {
    margin-left: 600px;
    width: 25%;
}

.CA3 .mid-3 {
    columns: 120px 3;
}

.CA3 .mid-3 .input-fieldName {
    height: 40px;
}

.CA3 .mid-3 input {
    width: 20px;
    height: 20px;
    margin-left: 200px;
    margin-top: -25px;
}

.CA3 .mid-3 label {
    text-align: left;
}

/*Conduct Assessment 4 */

.CA4 .mid1 label {
    width: 10%;
}

.CA4 .mid1 select {
    margin-left: 220px;
}

.CA4 .mid2 {
    margin-top: -50px;
}

.CA4 .mid2 label {
    width: 10%;
    margin-left: 420px;
}

.CA4 .mid2 select {
    margin-left: 500px;
}

.CA4 .mid3 {
    columns: 1px 3;
    width: 560px;
}

.CA4 .mid3 input {
    width: 20px;
    height: 20px;
    margin-left: 260px;
}

/*Conduct Assessment 5 */

.CA5_h6 {
    margin-left: 620px;
    margin-top: -25px;
    font-size: 14px;
}

.CA5 p {
    font-size: 14px;
}

.CA5 h6 {
    margin-top: 15px;
    font-size: 16px;
}

.CA5 .top .input-fieldName {
    height: 50px;
}

.CA5 .top input {
    width: 40%;
    margin-left: 480px;
    margin-top: -40px;
    height: 38px;
    font-size: 12px;
}

.CA5 .top label {
    width: 25%;
    position: absolute;
    font-size: 12.5px;
}

.CA5 .top select {
    width: 25%;
    height: 38px;
    position: relative;
    margin-left: 225px;
    font-size: 12px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

/*Conduct Assessment 6 */

.CA6 .bot label {
    margin-left: 230px;
}

.CA6 .bot select {
    margin-left: 390px;
}

.CA6 h6 {
    margin-top: 15px;
}

/*Conduct Assessment 7 */

.CA7 .top .input-fieldName{
    width: 100%;
}

.CA7 .top {
    columns: 50px 4;
    width: 800px;
}

.CA7 h6{
    margin: 15px 0px;
}

/* Conduct Assessment 8 */

.CA8 .top select {
    width: 20%;
    margin-left: 300px;
}

.CA8 .top label{
    width: 35%;
}

.CA8 .CA8_h6 {
    margin: 15px 0px;
}

.CA8 .mid .input-fieldName{
    width: 100%;
}

.CA8 .mid {
    columns: 50px 4;
    width: 800px;
}

.CA8 .mid label {
    margin-left: 100px;
}

.CA8 .mid select {
    margin-left: -40px;
}

/* Conduct Assessment 9 */

.CA9 .mid input {
    width: 20px;
    height: 20px;
}

.CA9 .mid {
    columns: 50px 8;
    width: 800px;
}

.CA9 .mid1{
    columns: 50px 4;
    width: 800px;
}

.CA9 .mid1 input{
    width: 25%;
    margin-left: -50px;
}

.CA9 .mid1 select{
    width: 25%;
    margin-left: -50px;
}

.CA9 input[type="file"]{
    display: none;
}

.CA9 .File{
    background: #fff;
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    margin-left: -50px;
}

/* Create Pages */

.container .CreateHeader {
    color: #8ac626;
    margin-left: 30px;
    margin-top: -30px;
}

.CreateIcon {
    color: #8ac626;
}

.Create .input-fieldName {
    box-shadow: none;
    padding: 10px 10px;
    height: 50px;
}

.Create .top-form select {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    height: 38px;
    font-size: 14px;
    border-radius: 8px;
}

.Create form {
    width: 100%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

.Create .top-form select,
.Create .top-form input {
    width: 70%;
    margin-left: 240px;
    margin-top: 5px;
}

.Create .top-form label {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12.5px;
}

.Create .mid1 input {
    width: 35%;
    margin-left: 240px;
    margin-top: 5px;
}

.Create .mid2 input {
    width: 20%;
    margin-left: 130px;
}

.Create .mid2 {
    margin-left: 500px;
    margin-top: -50px;
}

.Create .mid3 {
    columns: 1px 3;
    width: 50%;
}

.Create .mid3 input {
    width: 20px;
    height: 20px;
    margin-left: 80px;
}

.Create .mid4 input {
    width: 40%;
    margin-left: 240px;
    margin-top: 5px;
}

.Create .mid5 input {
    width: 15%;
    margin-left: 120px;
}

.Create .mid5 {
    margin-left: 550px;
    margin-top: -50px;
}

.Create input[type="file"] {
    display: none;
}

.Create .mid7 span {
    margin-left: 120px;
}

.Create .mid8 {
    columns: 1px 2;
    width: 600px;
}

.Create .mid8 input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff1f1f;
    width: 30%;
    outline: none;
}

.Create .mid8 label {
    margin-left: 340px;
    margin-top: 35px;
}

.Create .mid8s{
    columns: 1px 2;
    width: 600px;
    margin-left: -100px;
}

.Create .mid8s input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff1f1f;
    width: 30%;
    outline: none;
}

.Create .mid8s label {
    margin-left: 340px;
    margin-top: 35px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background-color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
  }

  .containerz{
    display: flex;
    position: relative;
    max-width: 90px;
    width: 100%;
    border-radius: 8px;
    padding-left: 275px;
    margin: 80px auto 30px;
    margin-left: 231px;
    flex-wrap: wrap;
    flex-direction: column;
   

    
  }
   .containerz-item {
   
    padding-right: 875px;
    margin-left: -495px;
    margin-top: -80px;
    
    
   

  }

  .containerz-item label{
    left: -218px;
    top: 18px;
 }

  .select-btn{
    display: flex;
    height: 42px;
    align-items: center;
    width: 168px;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    margin-top: 90px;

}




.select-btn .btn-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
  
  
   
}

.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: black;
    font-size: 14px;
    border-radius: 50%;
    background-color: grey;
    align-items: center;
    justify-content: center;

}

.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    width: 320px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    display:none;
}
.select-btn.open ~ .list-items{
    display:block;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    color: black;
   
    
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid black;
    transition: all 0.3s ease-in-out;
}
.checkbox .check-icon{
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon{
    transform: scale(1);

}

  
  

.save {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 35px;
    border-color: #333;
    border-radius: 8px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 350px;
}

/*Scheduling Appointment*/

.SchedulingAppointment .container {
    max-width: 700px;
    width: 100%;
    min-height: 100px;
    height: 200px;
    padding: 15px 15px;
    border-radius: 10px;
    background: #fff;
    margin-left: 25px;
    margin-top: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SchedulingAppointment .container form{
    min-height: 150px;
    background-color: #fff;
}

.SchedulingAppointment .header {
    font-size: 17px;
    font-weight: 500;
    color: #333;
    padding: 15px 30px;
    margin-left: 0px;
}

.SchedulingAppointment .container form .card-detail {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SchedulingAppointment form .card-detail .card-box {
    width: calc(100% / 2 - 10px);
    margin-bottom: 2px;
}

.SchedulingAppointment .card-detail .card-box input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding: 15px 15px;
    font-size: 17px;
    border-bottom-width: 2px;
    background: #8ac626;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SchedulingAppointment form .card-detail .card-box {
    width: calc(100% / 2 - 10px);
    margin-bottom: 5px;
}

.SchedulingAppointment .card-detail .card-box input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding: 15px 15px;
    font-size: 17px;
    border-bottom-width: 2px;
    background: #8ac626;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.SchedulingAppointment .card-detail .card-box input:hover {
    background: #9dff00;
    color: #333;
}

.SchedulingAppointment .card-box input :hover::before {
    height: 180%;
}

.SchedulingAppointment .card-detail .card-box input::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff59;
}

.SchedulingAppointment .container1 {
    max-width: 700px;
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-left: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SchedulingAppointment .container1 form .card-detail1 {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SchedulingAppointment .card-detail1 .card-box1 input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 17px;
    border-bottom-width: 2px;
    background: #fff;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.8s;
}

.SchedulingAppointment .container1 li{
    color:rgba(0, 0, 0, 0);
}

.SchedulingAppointment .card-detail1 .card-box1 input:hover {
    background: #8ac626;
    color: #fff;
    transition: all 0.8s;
}

.SchedulingAppointment .card-box1 input :hover::before {
    height: 180%;
}

.SchedulingAppointment form .card-detail1 .card-box1 {
    width: calc(100% / 2 - 10px);
    margin-bottom: 15px;
}

.SchedulingAppointment .card-detail1 .card-box1 input {
    height: 55px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 3px solid rgb(255, 0, 0);
    padding-left: 15px;
    font-size: 17px;
    border-bottom-width: 1px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SchedulingAppointment .card-detail1 .card-box1 .notification {
    position: absolute;
    display: block;
    font-size: 5px;
    font-weight: 400;
    border: 0px;
    font-size: 12px;
    background: #8ac626;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 82px;
    color: rgb(255, 255, 255);
    right: -1px;
    top: 10px;
    line-height: 29px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.SchedulingAppointment .card-detail1 .card-box1 .notification:hover {
    background: #ff0000;
    transition: all 0.5s;
}

.SchedulingAppointment .container-right {
    position: absolute;
    max-width: 400px;
    width: 245px;
    padding: 15px 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-left: 85px;
    top: 145px;
    right: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.SchedulingAppointment .container-right ul li {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    padding: 10 5px;
    margin-bottom: 30px;
    color: #333;
}

.SchedulingAppointment .container-right p {
    width: 100%;
    margin: 5px 0;
    font-size: 11px;
    padding: 10 5px;
    margin-bottom: 30px;
    color: #333;
    margin-top: -35px;
}

.SchedulingAppointment .container-right ul li span {
    float: right;
    color: #333;
}

.SchedulingAppointment .update {
    position: relative;
    background: #8ac626;
    border-radius: 9px;
    height: 60px;
    padding: 10px 20px 20px 20px;
    width: 100%;
    margin-top: 20px;
}

.SchedulingAppointment .update input {
    background: rgb(79, 77, 77);
    width: 50px;
    height: 40px;
    font-size: 12px;
    border-radius: 6px;
    color: #fff;
    border: none;
    margin-left: 140px;
    margin-top: -1px;
}

.SchedulingAppointment .update h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: -39px;
}

.SchedulingAppointment .update p {
    color: #fff;
    font-size: 12px;
    margin-top: -10px;
}

.SchedulingAppointment .container-right h3 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.SchedulingAppointment input {
    border-radius: 5px;
    border: 1px solid #c4c1c1;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    color: #333;
}

/*=======================================================
   main-content navbar-design start
   ===============================================*/

.nav-link {
    position: relative;
}

.nav-link .icon {
    font-size: 18px;
    color: #fff;
    width: 100%;
}

.nav-link .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    background: #8ac626;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-size: 700;
}

/*=======================================================
   main-content inner design like card start
   ===============================================*/

.card {
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0px !important;
}

.card {
    display: flex;
    position: relative;
    border: none !important;
    width: 100%;
    margin: 15px 0;
    box-shadow: none;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #999;
    justify-self: center;
}

.card-stats .card-header {
    float: left;
    text-align: center;
    background: none;
    border: none;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 01;
    background-color: none !important;
    border-bottom: none;
    border: none;
}

.card .card-header1 {
    padding: 15px 20px 0;
    z-index: 3;
    background-color: none !important;
    border-bottom: none;
    color: #333;
    border: none;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card .card-footer {
    margin: 0 7px 0px;
    padding-top: 10px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
}

.text-info {
    color: #333 !important;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.card .card-content1 {
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    color: #999
}

.card .card-content .category {
    margin-bottom: 0;
}

.card .category:not([class*="text-"]) {
    color: #8a8888;
    font-size: 14px;
    font-weight: 400;
}

.text-primary th {
    color: #999
}

.card .card-title:not(.card-calendar .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-stats .card-title {
    margin: 0;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-header-text h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
    color: #222222;
    text-decoration: none;
    background: none;
    border: none;
    background: none;
}

.card-title {
    background: none;
}

.table>thead>tr>th {
    border-bottom-width: 0px;
    font-size: 16px;
    font-weight: 400;
    color: none;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.streamline .sl-primary {
    border-left-color: rgb(193, 191, 191);
}

.streamline .sl-item {
    position: relative;
    padding-bottom: 12px;
    border-left: 1px solid #ccc;
}

/*=======================================================
   main-content inner design like card end
   ===============================================*/

/*=============================================
  footer design start
  =========================================*/

.footer {
    border-top: none;
}

footer .btn-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
}

.btn0 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    border-color: #fff;
    width: 200px;
}

.btn00 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #8ac626;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff
}

.btn1 {
    font-size: 14px;
    display: inline-block;
    width: calc(100% / 3 - 15px);
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff;
    margin-left: 20px;
    margin-top: 5px;
}

.btn2 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #8ac626;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff;
    margin-left: 20px;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
}

footer ul li {
    display: flex;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
    margin-left: 5px;
}

footer .copyright {
    padding: 0px;
    font-size: 14px;
    margin-left: 500px;
    width: 100px;
}

/*=============================================
  footer design end
  =========================================*/

#sidebar.show-nav,
.body-overlay.show-nav {
    transform: translatex(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px) {
    #sidebar.active {
        width: 80px;
        height: 100% !important;
        position: absolute !important;
        overflow: visible !important;
        top: 0 !important;
        z-index: 666;
        float: left !important;
        bottom: 0 !important;
    }

    #sidebar.active .sidebar-header h3 span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active ul li a span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active .dropdown-toggle::after {
        display: none;
        transition: all 0.5s ease;
    }

    #content {
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
        background: linear-gradient(90deg, rgb(240, 240, 240) 60%, rgb(240, 240, 240) 40.1%);
    }

    #content.active {
        width: calc(100% - 80px);
    }

    #sidebar.active .menu {
        position: absolute;
        left: 81px;
        background-color: white;
        width: 180px;
        height: auto;
        margin: 5px 0;
        top: 0;
        border: 1px solid #dcd9d9;
        z-index: 4;
    }
}

@media only screen and (min-width:992px) {
    .dropdown-menu {
        border: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
        transform: translate3d(0, -20px, 0);
        visibility: hidden;
        transition: all 150ms linear;
        display: block;
        min-width: 15rem;
        right: 0;
        left: auto;
        opacity: 0;
    }

}

@media only screen and (max-width:992px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 260px;
        transform: translatex(-100%);
        transition: all 150ms linear;
        box-shadow: none !important;
    }

    .body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0, 0, 0, 0.5);
    }
}