@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');

body,
html {
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    color: #c8d0ca;
    text-transform: capitalize;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-weight: 400;
    line-height: 1.5em;
}

p {
    font-size: 15px;
    margin: 12px 0 0;
    line-height: 24px;
}

a {
    color: #333;
    font-weight: 400;
}

button:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0px;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: rgb(138, 140, 138);
    text-decoration: none;
    transition: all 0.3s;
}

li .a {
    color: #8ac626;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */

#sidebar {
    position: fixed;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 260px;
    overflow: auto;
    transition: all 0.3s;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

#sidebar::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
    width: 5px;
    border-radius: 10px;
    background-color: #333;
    display: none;
}

#sidebar:hover::-webkit-scrollbar {
    display: block;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
    display: block;
}

#sidebar .sidebar-header {
    padding: 17px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.sidebar-header h3 {
    color: rgb(17, 16, 16);
    font-size: 17px;
    margin: 0px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 600;
}

nav ul {
    height: 100%;
    list-style: none;
}

.sidebar-header h3 img {
    width: 60px;
    margin-right: 10px;
}

#sidebar ul li {
    padding: 2px 7px;
}

#sidebar ul li.active>a {
    color: rgb(51, 51, 51);
    background-color: none;
}

#sidebar ul li a:hover {
    color: rgb(7, 7, 7);
    background-color: rgba(233, 231, 231, 0.98);
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 20px;
}

#sidebar ul li.drodown {
    position: sticky;
}

#sidebar ul.components {
    padding: 17px 0;
}

#sidebar ul li a {
    padding: 10px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 15px;
    position: relative;
    font-weight: 400;
    display: block;
}

#sidebar ul li a span {
    text-transform: capitalize;
    display: inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
    color: #636764;
    margin-left: 10px;
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar .ads.wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}

.btn1-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    background: #8ac626;
    transition: all .3s ease;
    font-weight: 600;
    margin-bottom: 12px;
    top: 150px;
}

.btn-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    background: #ff1f1f;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
    top: 150px;
}

/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */

/*=======================================================
   main-content navbar-design start
   ===============================================*/

#content {
    position: relative;
    transition: all 0.3s;
    background-color: transparent;
}

.top-navbar {
    width: 100%;
    z-index: 9;
    position: relative;
    margin-top: 20px;
}

.main-content {
    padding: 20px 20px 20px 160px;
    position: relative;
    width: 100%;
}

.navbar {
    background-color: transparent;
    color: #FFFFFF;
}

.navbar-brand {
    color: #e62124;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar button span {
    color: rgb(161, 160, 160);
}

#sidebarCollapse {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-right: 20px;
    border: none;
    color: #8ac626;
    background-color: transparent;
    position: relative;
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}

.navbar-nav>li.active {
    color: #FFFFFF;
}

.navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar .notification {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #8ac626;
    min-width: 15px;
    text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}

.navbar-nav>li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    min-height: 500px;
}

.dropdown-menu li>a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 150ms linear;
    color: #1a1a1b;
}

.dropdown-menu li :hover {
    color: #8ac626;
}

.navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(133, 130, 130, 0.08);
}

.navbar-nav li a {
    position: relative;
    display: block;
    padding: 10px 5px !important;
    justify-content: center;
}

.form-group input {
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 10px;
    height: 100%;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

.form-group input:focus {
    color: rgba(54, 53, 53, 0.187);
}

.form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #444;
    left: 585px;
    top: 30px;
}



/*======================================================= 
   main-content navbar-design end
   ===============================================*/

.container {
    display: inline-block;
    position: relative;
    max-width: 875px;
    width: 1000px;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 30px 30px 20px 32px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: -80px;
    /*margin-left: 23px;*/
}

.container header {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin-bottom: 25px;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100px;
    height: 3px;
    border-radius: 8px;
    background-color: #8ac626;
}

.container form {
    position: relative;
    margin-top: 5px;
    min-height: 490px;
    background: #f0f0f0;
}

.container form .details {
    margin-top: 30px;
}

.container form .details .ID {
    margin-top: 10px;
}

.container form .flex {
    display: flex;
    gap: 8px;
}

.container form .flex2 {
    display: flex;
    gap: 8px;
}

.container form .flex3 {
    display: flex;
    gap: 8px;
}

.container form .flex4 {
    display: flex;
    gap: 8px;
}

.container form .flex5 {
    display: flex;
    gap: 8px;
}

.container form .title {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500px;
    margin: 6px 0;
    color: #333;
}

.container .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-field1 {
    width: 400px;
    padding: 0px 0px 0px 0px;
}

.input-field2 {
    width: 400px;
    padding: 0px 0px 0px 0px;
}

.input-fieldName {
    width: 800px;
    padding: 0px 0px 0px 0px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

.header {
    margin-left: 250px;
}

.conduct_subheading {
    color: #444;
    font-size: 16px;
}

.conduct_description {
    color: #444;
    font-size: 14px;
}

form .fields .input-field {
    display: flex;
    width: calc(50% / 1 - 5px);
    flex-direction: column;
}

form .fields .input-fieldSubName {
    display: inline-block;
    width: calc(100% / 3 - 30px);
    flex-direction: column;
    border-radius: 40px;
    row-gap: 20px;
}

form .fields .input-fieldSubName2 {
    display: inline-block;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    border-radius: 40px;
    row-gap: 5px;

}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input {
    padding: 0 5px;
    height: 38px;
    margin: 8px 0;
    border-radius: 8px;
    border-bottom: none;
    width: 400px;
    background: #fff;
    border: none;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    color: #444;
}

.input-field input:is(:focus, :valid) {
    outline: none;
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.details-ID form .fields .input-field {
    display: flex;
    width: calc(50% / 3 - 15px);
    flex-direction: column;
}

.wrapper1 {
    width: 210px;
    padding: 5px 25px 1px 0px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.wrapper2 {
    width: 180px;
    padding: 0px 20px 8px 0px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.wrapper2 .form-control {
    margin-right: 9px;
}

.wrapper3 {
    width: 180px;
    padding: 15px 5px 20px 5px;
    outline: none;
    border: none;
    background-color: none;
    font-size: 1.1rem;
}

.form-control {
    height: 38px;
    border-radius: 8px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    font-size: 14px;
}

.ConductAssessment .form-control {
    border: none;
}

/* Emergency Page */

.emergency .form-control {
    height: 35px;
    border: none;
}

.emergency .input-fieldName {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.emergency .icon {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 25px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: center;
}

/* Emergency End */

.form-control:focus {
    background-color: rgb(255, 255, 255);
    border: 0px solid rgba(199, 200, 202, 0.47);
}

.wrapper1:focus {
    background-color: #fff;
    border: 2px solid rgb(163, 163, 164);
}

.wrapper label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.btnb {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 5px;
    border-color: #333;
    border-radius: 8px;
    background-color: #e62124;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 280px;
}

.btnn {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 15px;
    border-color: #333;
    border-radius: 8px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 10px;
}

.btnn2 {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #333;
    border-radius: 10px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 300px;
}

.btnn3 {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 250px;
    border-color: #333;
    border-radius: 10px;
    background-color: #8ac626;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 350px;
}

.btnn3a {
    position: relative;
    min-height: 30px;
    min-width: 120px;
    outline: none;
    margin-top: 250px;
    border-color: #333;
    border-radius: 10px;
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 350px;
}

.container p,
h4,
h5,
h6 {
    color: #444;
}

/* ConductAssessment Pages */

.ConductAssessment .input-fieldName {
    box-shadow: none;
    padding: 10px 10px;
}

.ConductAssessment .top-form select {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    height: 38px;
    font-size: 14px;
    border-radius: 8px;
}

.ConductAssessment .Validate {
    width: 100%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
    padding: 15px;
}

.ConductAssessment .Validate input {
    width: 50%;
    height: 25px;
    border: 1px solid #8ac626;
    margin-left: 80px;
    font-size: 14px;
}

.ConductAssessment .Validate label {
    width: 10%;
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
    text-align: right;
}

.ConductAssessment form {
    width: 100%;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

.ConductAssessment .top-form .input-fieldName {
    height: 50px;
}

.ConductAssessment .top-form select {
    width: 70%;
    margin-left: 240px;
    margin-top: 5px;
}

.ConductAssessment .top-form label {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12.5px;
}

/* Conduct Assessment 3 */

.CA3 .top-form .input-fieldName {
    height: 50px;
}

.CA3 .top-form label {
    width: 70%;
    text-align: left;
    margin-left: 200px;
    position: absolute;
}

.CA3 .top-form select {
    width: 20%;
    position: absolute;
    margin-left: 550px;
    margin-top: 5px;
    height: 40px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

.CA3 p {
    margin: 15px 0;
    font-size: 14px;
}

.CA3 .mid-1 .input-fieldName {
    height: 50px;
    position: relative;
}

.CA3 .mid-1 label {
    width: 25%;
    text-align: left;
    position: absolute;
    margin-top: 10px;
}

.CA3 .mid-1 select {
    width: 25%;
    margin-left: 200px;
    height: 38px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    font-size: 14px;
}

.CA3 .mid-2 label {
    width: 25%;
    text-align: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 410px;
}

.CA3 .mid-2 select {
    width: 25%;
    margin-left: 600px;
    height: 38px;
    margin-top: 10px;
    position: absolute;
}

.CA3 .mid-input {
    margin-top: 15px;
}

.CA3 .mid-input label {
    margin-left: 410px;
    width: 25%;
}

.CA3 .mid-input input {
    margin-left: 600px;
    width: 25%;
}

.CA3 .mid-3 {
    columns: 120px 3;
}

.CA3 .mid-3 .input-fieldName {
    height: 40px;
}

.CA3 .mid-3 input {
    width: 20px;
    height: 20px;
    margin-left: 200px;
    margin-top: -25px;
}

.CA3 .mid-3 label {
    text-align: left;
}

/* Conduct Assessment 7 */

.CA7_h6 {
    margin-left: 500px;
    margin-top: -25px;
}

.CA7 p {
    font-size: 14px;
}

.CA7 .top .input-fieldName {
    height: 50px;
}

.CA7 .top input {
    width: 70%;
    margin-left: 240px;
    margin-top: -45px;
    height: 38px;
}

.CA7 .top label {
    width: 15%;
    position: absolute;
    margin-top: 10px;
    font-size: 12.5px;
}

.CA7 .top select {
    width: 10%;
    position: relative;
    margin-left: 125px;
    margin-top: 10px;
    font-size: 12px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
}

.CA7 h6 {
    margin-top: 14px;
}

.CA7 .top-form .input-fieldName {
    height: 55px;
}

.CA7 .top-form input {
    width: 70%;
    height: 38px;
    margin-left: 240px;
    margin-top: 5px;
}

.CA7 .top-form label {
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12.5px;
}

/* Conduct Assessment 8 */

.CA8 .top .input-fieldName {
    height: 30px;
}

.CA8 .top select {
    width: 25%;
}

.CA8 .top .heat select {
    margin-left: 240px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    height: 38px;
    font-size: 14px;
}

.CA8 .top .cold select {
    margin-left: 590px;
    margin-top: -30px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.127);
    height: 38px;
    font-size: 14px;
}

.CA8 .top .heat label {
    width: 25%;
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 12.5px;
}

.CA8 .top-form h6 {
    margin-top: 14px;
}

.CA8 .top-form .input-fieldName {
    height: 55px
}


/*=======================================================
   main-content navbar-design start
   ===============================================*/

.nav-link {
    position: relative;
}

.nav-link .icon {
    font-size: 18px;
    color: #fff;
    width: 100%;
}

.nav-link .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    background: #8ac626;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-size: 700;
}

/*=======================================================
   main-content inner design like card start
   ===============================================*/


/*----dashboard---*/

.container{
    max-width: 700px;
    width:100%;
    padding: 15px 15px;
    border-radius: 10px;
    background: #f0f0f0;;
    margin-left: 15px;
    margin-top: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);

}

.header{
    font-size: 17px;
    font-weight: 500;
    color: #333;
    padding: 15px 30px;
    
    
}


.container form .card-detail{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.admin-container-right{
    position: absolute;
    max-width: 400px;
    width:300px;
    padding: 15px 15px;
    border-radius: 10px;
    background:rgb(255, 255, 255);
    margin-left: 15px;
    top: 150px;  
    right: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);

}


.admin-container-right ul li {
    width:100%;
   margin: 5px 0;
    font-size: 13px;
    padding: 10 5px;
    margin-bottom: 30px;
    color: #333;
}

.admin-container-right p{
    width:100%;
   margin: 5px 0;
    font-size: 11px;
    padding: 10 5px;
    margin-bottom: 30px;
    color: #333;
   margin-top: -35px;
}


.admin-container-right ul li span{

    float: right;
    color: #333;
   }

.update{
    position: relative;
    background: #8ac626;
    border-radius: 9px;
    height: 60px;
    padding: 10px 20px 20px 20px; 
    width: 100%;
    margin-top: 20px;
     
}

.update input{
background: rgb(79, 77, 77);
width: 50px;
height: 40px;
font-size: 12px;
border-radius: 6px;
color: #fff;
border: none;
margin-left: 190px;
margin-top: -1px;

}

.update h6{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: -39px;
    }
    .update p{
        color: #fff;
        font-size: 12px;
        margin-top: -10px;
    }

    .admin-container-right h3{
        color: #333;
        font-size: 18px;
        font-weight: 500;
    }
    
    input{
        border-radius: 5px;
        border: 1px solid #c4c1c1;
        outline: none;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
        width: 100%;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        color: #333;

       
       
    }


    .admin-grid-container{
        display: grid;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        grid-template-columns: 180px 180px 180px;
        grid-gap: -40px;
        
        }
        
       
        .grid{
        
           width: 150px;
           border-radius: 5px;
           background:rgb(255, 255, 255);
           border: #ff53;
           height: 40px;
           outline: none;
           color: #999;
           align-items: center;
           justify-content: center;
           text-align: center;
           padding: 45px;
           margin-top: 55px;
           margin-left:30px;
           box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
           font-size: 13px;
           font-weight: 500;
          
           gap:1px
        }
       
        .grid header{
             font-size: 12px;
             justify-content: center;
             margin-top: -30px;
             padding: 1px;
             color: #333;
             font-weight: 400;
             text-align: center;
             align-items: center;
             
        }
    .grid span {
        font-size: 20px;
        color: #444;
        font-weight: 500;
        top:-20px;
        border-bottom: 3px solid #8ac626;
    
        width: 30px;
       
        justify-content: center;
        text-align: center;
             align-items: center;
    }
       
    
    
       
        .chart{
           width: 350px;
           height: 300px;
           background:rgb(255, 255, 255);
           position: relative;
           display: flex;
           top: -690px;
           color:#444;
           padding: 35px;
           margin-left: 570px;
           border-radius: 5px;
           box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
           flex-wrap: wrap;
    
        
        }
        
    
     #donutchart{
        position: relative;
        background-color: none;
        justify-content: center;
        align-items: center;
        padding: 0 6px;
        left: 15px;
        top: 5px;
        width: 450px;
    }
    
    
    
        .chart1{
            width: 350px;
            height: 300px;
            background:rgb(255, 255, 255);
            position: relative;
            display: flex;
            top: -600px;
            color:#444;
            padding: 35px;
            margin-left: 570px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
            flex-wrap: wrap;
     
        }
    
        .chart1 label{
            font-size: 18px;
            color: #707070;
            font-weight: 400;
        }
         #piechart{
            position: relative;
            background-color: none;
            justify-content: center;
            align-items: center;
            padding: 0 6px;
            left:-30px;
            top: -10px;
            text-align: justify;
            width: 350px;
          
        
        }
    
        select{
            position: relative;
            width: 100px;
            border-color: #ccc;
            border-radius: 2px;
            background: #fff;
            outline: none;
            box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
            top: -9px;
        }
    
        select:focus{
            border-color: #0073ff;
            
        }
        option{
            color: #333;
            font-size: 14px;
            font-weight: 400;
        }
/*-----end dashboard admin----*/




/*------ doctor list-------**/
.table-list{
    padding: 0 10%;
    margin: 40px auto 0;
    margin-top: -15px;
   
}



.table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    z-index: 2;
    border-radius: 12px 12px 0 0;
    background:  #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead{
    background-color:  #dcdcdc87;
    color: #444;
    
   
}
.table th td{
    padding: 9px 9px;
   
}

.table thead tr th{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    color: #333;
    opacity: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
    padding: 8px;
    
   
}


.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #222;
    background-color:  #fff;
    padding: 7px;
    text-align:center;
    align-items: left;
    border: 1px solid #fafafa;
    text-transform: none;
    font-weight: 300;
   

}


 

.table .text-open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color:  #444;
    


}

.tables tr td{
    text-align: left;
   
}

.tables th{
    text-align: center;
}
 



.table-doctor tbody tr td {
    width: 130px;
    text-decoration: none;
    line-height: 38px;
    display: inline-block;
    background-color:#8ac626;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;

   
}


.caption{
    font-size: 16px;
    color: #444;
    font-weight: 400;
    margin-left: 0;
    margin-top: -25px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
 
    
}
.control{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.147);
    margin-left: 120px;
    font-size: medium;
    color: rgb(100, 100, 100);
    background: #fff;
  font-weight: bold;
    margin-top: 30px;
   
}

.styled {
    width: 150px;
    height: 45px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(21, 203, 94);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
    margin-left: 555px;
    margin-bottom: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}   

.styled:hover {
    background-color: rgb(0, 255, 94);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}






h4{
    font-size: 16px;
    font-weight: 500;
    color: #a0ea2a;
    margin-left: 125px;
    margin-top: 50px;

}


/*----end doctor-list------------*/



/*---list of nurse------*/
.table-Nurse{
    padding: 0 10%;
    margin: 40px auto 0;
    margin-top: -15px;
   
}



.table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    z-index: 2;
    border-radius: 12px 12px 0 0;
    background:  #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead{
    background-color:  #dcdcdc87;
    color: #444;
    
   
}
.table th td{
    padding: 9px 9px;
   
}

.table thead tr th{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    color: #333;
    opacity: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
    padding: 8px;
    
   
}


.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #222;
    background-color:  #fff;
    padding: 7px;
    text-align:center;
    align-items: left;
    border: 1px solid #fafafa;
    text-transform: none;
    font-weight: 300;
   

}


 

.table .text-open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color:  #444;
    


}





.table-doctor tbody tr td {
    width: 130px;
    text-decoration: none;
    line-height: 38px;
    display: inline-block;
    background-color:#8ac626;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;

   
}


.caption{
    font-size: 16px;
    color: #444;
    font-weight: 400;
    margin-left: 0;
    margin-top: -25px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
 
    
}
.control{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.147);
    margin-left: 120px;
    font-size: medium;
    color: rgb(100, 100, 100);
    background: #fff;
  font-weight: bold;
    margin-top: 30px;
   
}

.styled {
    width: 150px;
    height: 45px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(21, 203, 94);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
    margin-left: 555px;
    margin-bottom: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}   

.styled:hover {
    background-color: rgb(0, 255, 94);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.tables tr td{
    text-align: left;
   
}

.tables th{
    text-align: center;
}
 


 .nurse{
    font-size: 16px;
    font-weight: 500;
    color: #a0ea2a;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 50px;

}

/*----- end list of nurse-----/





/*---list of supervisor------*/
.table-supervisor{
    padding: 0 10%;
    margin: 40px auto 0;
    margin-top: -15px;
   
}



.table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    z-index: 2;
    border-radius: 12px 12px 0 0;
    background:  #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
}
.table thead{
    background-color:  #dcdcdc87;
    color: #444;
    
   
}
.table th td{
    padding: 8px 8px;
   
}

.table thead tr th{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    color: #333;
    opacity: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
    padding: 8px;
    
   
}


.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #222;
    background-color:  #fff;
    padding: 7px;
    text-align:center;
    align-items: left;
    border: 1px solid #fafafa;
    text-transform: none;
    font-weight: 300;
   

}


 

.table .text-open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color:  #444;
    


}





.table-doctor tbody tr td {
    width: 130px;
    text-decoration: none;
    line-height: 38px;
    display: inline-block;
    background-color:#8ac626;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;

   
}


.caption{
    font-size: 16px;
    color: #444;
    font-weight: 400;
    margin-left: 0;
    margin-top: -25px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
 
    
}
.control{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    margin-left: 120px;
    font-size: medium;
    color: rgb(100, 100, 100);
    background: #fff;
  font-weight: bold;
    margin-top: 30px;
   
}

.styled {
    width: 150px;
    height: 45px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(21, 203, 94);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
    margin-left: 555px;
    margin-bottom: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}   

.styled:hover {
    background-color: rgb(0, 255, 94);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tables tr td{
    text-align: left;
   
}

.tables th{
    text-align: center;
}
 



 .nurse{
    font-size: 16px;
    font-weight: 500;
    color: #a0ea2a;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 50px;

}

/*----- end list of supervisor-----/


/*--annual medical confirmed **/

.table-containers{
    padding: 0 10%;
    margin: 40px auto 0;
}



.tables{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    z-index: 2;
    border-radius: 12px 12px 0 0;
    background:  #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
   
}
.tables thead{
    background-color:  #dcdcdc87;
    color: #dee2e685;
   
}


.tables thead tr th{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: #444;
    opacity: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
    padding: 9px ;
    
   
}

.tables tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #999;
    background-color:  #fff;
    padding: 8px;
   
    border: 1px solid #fafafa;
    text-transform: none;
    font-weight: 400;
   

}

.tables tr td{
    text-align: left;
   
}

.tables th{
    text-align: center;
   

}


.tables .text-open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color:  #444;
    


}





.tables tbody tr td .btns{
    width: 130px;
    text-decoration: none;
    line-height: 38px;
    display: inline-block;
    background-color: rgb(21, 203, 94);
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
   
   
}

.btns{
    
        width: 100px;
        height: 40px;
        border: 0;
        line-height: 2.5;
        padding: 0px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        margin-left: 50px;
       
    }   
    
    .btns:hover {
        background-color: rgb(0, 255, 94);
    }
    
    .btns:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    
    


.title{
    font-size: 16px;
    color: #8ac626;
    font-weight: bold;
    margin-left: 120px;
}
.control{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.147);
    margin-left: 120px;
    font-size: medium;
    color: rgb(100, 100, 100);
    background: #fff;
    font-weight: bold;
    margin-top: 30px;
    

}


.styled {
    width: 150px;
    height: 45px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(21, 203, 94);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
    margin-bottom: 80px;
    margin-top: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}   

.styled:hover {
    background-color: rgb(0, 255, 94);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}





 
/*----------- end confirmed---*/









/*--annual medical not confirmed **/

.main-cont {
    width: 1000px;
   height:100%;
   background-color: rgb(103, 101, 101);
   backdrop-filter: blur(7px);
   box-shadow: 0 .4rem .8rem #0005;
   border-radius: .8rem;
   overflow: hidden;
   box-shadow: 0px 5px 1px rgba(217, 217, 217, 0.689);
}

.table-not-conf{
    padding: 0 10%;
    margin: 40px auto 0;
    
}



.table-not{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    z-index: 2;
    border-radius: 12px 12px 0 0;
    background:  #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
   
}
.table-not thead{
    background-color:  #dcdcdc87;
    color: #dee2e685;
   
}


.table-not thead tr th{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: #444;
    opacity: 12px;
    vertical-align: top;
    border: none;
    padding: 9px ;
    
   
}

.table-not tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #999;
    background-color:  #fff;
    padding: 8px;
   
    border: none;
    text-transform: none;
    font-weight: 400;
   

}

.table-not tr td{
    text-align: center;

   
}

.table-not tr td:hover{
    background: #f2f2f2;
}

.table-not th{
    text-align: center;
   

}

.table-not tr tr :nth-child(even){
    background-color: #0073ff;
}

.table-not .text-open{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color:  #444;
    


}



.table-not tbody tr td .btns{
    width: 130px;
    text-decoration: none;
    line-height: 38px;
    display: inline-block;
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
   
   
}

.btns{
    
        width: 130px;
        height: 38px;
        border: 0;
        padding: 0px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        margin-left: 50px;
       
    }   
    
    .btns:hover {
        background-color: rgb(255, 0, 60);
    }
    
    .btns:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    
    


.title{
    font-size: 16px;
    color: #8ac626;
    font-weight: bold;
    margin-left: 120px;
}
.control{
    position: relative;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.147);
    margin-left: 120px;
    font-size: medium;
    color: rgb(100, 100, 100);
    background: #fff;
    font-weight: bold;
    margin-top: 30px;
    

}


.styled {
    width: 150px;
    height: 45px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(21, 203, 94);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
    margin-bottom: 80px;
    margin-top: 80px;
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}   

.styled:hover {
    background-color: rgb(0, 255, 94);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}





 
/*----------- end not confirmed---*/


/*chartbar for dasboard report---*/
.main{position: relative;
    width:80%;
    margin: 50px auto;
    border-radius: 8px solid grey;
    display:grid;
    }

.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 0.5rem;
    
 }
 
 .grid-item{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s ease;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    border-radius: 5px;
    
 }
 

 .title {
    position: absolute;
    top: -5px;
    left: 1rem;
    color:rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 400;
    
 }
 
 .item-1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
 }
 
 .item-2{
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    
 }
 
 .item-3{
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    
 }
 
 .item-5{
    grid-column: 6 / span 2;
    grid-row: 1 / span 1;
    
 }
 
 
 
 .item-6{
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
    
 }
 
 
 
 
 .item-7{
    grid-column: 6 / span 2;
    grid-row: 3 / span 1;
    
 }
 
 
 
 .item-9{
    grid-column:6 / span 2 ;
    grid-row: 4 / span 1;
 }
 
 .item-4{
    grid-column: 8 / span 2;
    grid-row: 1 / span 3;
 
   
 
    
 }
 
 .item-8{
    grid-column: 8 / span 2;
    grid-row:4/ span 1 ;
 }
 
 .item-10{
    grid-column: 1 / span 5;
    grid-row:5/ span 6 ;
 }
 
 
 .item-11{
    grid-column: 6/ span 3;
    grid-row:5/ span 6 ;
 }
 .form select{
     position: relative;
     border-radius: 3px;
     outline: none;
     border-color:#ccc;
     justify-content: center;
     align-items: center;
    width: 100px;
     margin-left: 90px;
     top: 15px;
     color:#555454;
     font-size: 13px;
    
   
 }



 .forms select{
    position: relative;
    border-radius: 3px;
    outline: none;
    border-color:#ccc;
    justify-content: center;
    align-items: center;
   width: 100px;
    margin-left: 199px;
    top: -392px;
    color:#555454;
    font-size: 13px;
   
  
}


.formx select{
    position: relative;
    border-radius: 3px;
    outline: none;
    border-color:#ccc;
    justify-content: center;
    align-items: center;
   width: 100px;
    margin-left: 415px;
    top: 5px;
    color:#555454;
    font-size: 13px;
   
  
}


.formz select{
    position: relative;
    border-radius: 3px;
    outline: none;
    border-color:#ccc;
    justify-content: center;
    align-items: center;
   width: 100px;
    margin-left: 90px;
    top: 2px;
    color:#555454;
    font-size: 13px;
  
}




 option{
    color: #999;
    font-size: 14px;
    font-weight: normal;
 }
 

 .span{
    position: relative;
    font-size: 12px;
    color: #8ac626;
    font-weight: 500;
    bottom: -55px;
    margin-left: 20px;
 }
/*-------end report dashboard



/*=======================================================
   main-content inner design like card end
   ===============================================*/

/*=============================================
  footer design start
  =========================================*/

.footer {
    border-top: none;
}

footer .btn-Emergency {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
}

.btn0 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    border-color: #fff;
    width: 200px;
}

.btn00 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #8ac626;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff
}

.btn1 {
    font-size: 14px;
    display: inline-block;
    width: calc(100% / 3 - 15px);
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #e62124;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff;
    margin-left: 20px;
    margin-top: 5px;
}

.btn2 {
    font-size: 14px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    background: #8ac626;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    width: 200px;
    border-color: #fff;
    margin-left: 20px;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
}

footer ul li {
    display: flex;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
    margin-left: 5px;
}

footer .copyright {
    padding: 0px;
    font-size: 14px;
    margin-left: 500px;
    width: 100px;
}

/*=============================================
  footer design end
  =========================================*/

#sidebar.show-nav,
.body-overlay.show-nav {
    transform: translatex(0%);
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 15;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px) {
    #sidebar.active {
        width: 80px;
        height: 100% !important;
        position: absolute !important;
        overflow: visible !important;
        top: 0 !important;
        z-index: 666;
        float: left !important;
        bottom: 0 !important;
    }

    #sidebar.active .sidebar-header h3 span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active ul li a span {
        display: none;
        transition: all 0.5s ease;
    }

    #sidebar.active .dropdown-toggle::after {
        display: none;
        transition: all 0.5s ease;
    }

    #content {
        width: calc(100% - 260px);
        position: relative;
        float: right;
        transition: all 0.3s;
        background: linear-gradient(90deg, rgb(240, 240, 240) 60%, rgb(240, 240, 240) 40.1%);
    }

    #content.active {
        width: calc(100% - 80px);
    }

    #sidebar.active .menu {
        position: absolute;
        left: 81px;
        background-color: white;
        width: 180px;
        height: auto;
        margin: 5px 0;
        top: 0;
        border: 1px solid #dcd9d9;
        z-index: 4;
    }
}

@media only screen and (min-width:992px) {
    .dropdown-menu {
        border: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
        transform: translate3d(0, -20px, 0);
        visibility: hidden;
        transition: all 150ms linear;
        display: block;
        min-width: 15rem;
        right: 0;
        left: auto;
        opacity: 0;
    }

}

@media only screen and (max-width:992px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 260px;
        transform: translatex(-100%);
        transition: all 150ms linear;
        box-shadow: none !important;
    }

    .body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        transition: all 150ms linear;
        background-color: rgba(0, 0, 0, 0.5);
    }
}